
@import "./keyframes.scss";

@each $img-audi in __ruedas,__deportes,__familia,__confort,__comunicacion,__transporte {
    .img#{$img-audi}{
        width: 100%;
        background-image: url(/assets/img/img#{$img-audi}.jpg);
        background-size: cover;
        height:25vh;
        -webkit-animation: shadow-inset-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: shadow-inset-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }   
}